* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Noto Sans KR";
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 0;
}

h3 {
  font-size: 2em;
  color: #000;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
}

p {
  font-size: 0.95em;
  font-weight: 500;
}

strong {
  font-size: 1em;
}

span {
  font-size: 1.375em;
}

button {
  border: none;
  background-color: transparent;
}

header,
nav,
main,
article,
aside,
section,
footer {
  display: block;
}

.grid {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.loader {
  background-color: #ffcd5c;
}

.loader .grid {
  text-align: center;
}

.loader .grid h1 img {
  width: 40%;
}

header {
  height: 65px;
  font-family: "DK Leftover Crayon";
  font-weight: bolder;
  background-color: #feea98;
}

header .grid .logo {
  float: left;
  background-color: aqua;
}

header .grid .logo a img {
  width: 90%;
}

header .grid .moblie-menu {
  float: right;
  padding: 8px 0;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  header .grid .moblie-menu {
    display: none;
  }
}

header .grid .moblie-menu span {
  display: block;
  width: 45px;
  height: 10px;
  border-radius: 5px;
  background-color: #ed2024;
  background: url(../images/hamburger_border.png);
  background-size: cover;
}

header .grid .moblie-menu span:nth-child(2) {
  margin: 10px 0 10px;
}

header .grid nav .gnb {
  display: none;
}

@media screen and (min-width: 1024px) {
  header .grid nav .gnb {
    display: block;
    float: right;
  }
}

header .grid nav .gnb li {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 20px;
}

header .grid nav .gnb li a {
  font-size: 2em;
  color: #ed2024;
}

header .grid nav .gnb li a img {
  width: 80%;
}

main #about {
  font-family: "DK Leftover Crayon";
  font-weight: bolder;
  color: #ed2024;
}

main #about .grid .polaroid-box {
  margin: 10% 10% 5%;
  -webkit-transform: scale(0.85, 0.85) rotate(5deg);
          transform: scale(0.85, 0.85) rotate(5deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

main #about .grid .polaroid-box::before {
  position: absolute;
  content: '';
  z-index: -1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

main #about .grid .polaroid-box:hover {
  -webkit-transform: scale(1, 1) rotate(0deg);
          transform: scale(1, 1) rotate(0deg);
}

main #about .grid .polaroid-box .polaroid {
  padding: 1rem;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

main #about .grid .polaroid-box .polaroid img {
  width: 100%;
  height: 350px;
}

main #about .grid .polaroid-box .polaroid .text {
  padding-top: 15px;
  font-size: 2.8rem;
  line-height: 1.5em;
  cursor: pointer;
}

main #about .grid .profile ul {
  display: inline-block;
  padding: 0 4%;
  font-size: 2.3rem;
  margin-right: 5px;
  background-color: antiquewhite;
}

main #about .grid .profile ul:last-child {
  margin-right: 0;
  font-size: 2rem;
  font-family: "Nanum Pen";
  font-weight: normal;
  line-height: 2.5rem;
  color: #000;
}

main #web {
  text-align: center;
}

main #web .grid .project1 {
  position: relative;
}

main #web .grid .project1 .pro1-red {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../images/red_box.png) center;
  background-size: cover;
}

main #web .grid .project1 .pro1-yellow {
  margin: 0 0 30px 30px;
  background-color: #fee655;
  padding: 13%;
}

main #web .grid .project1 .pro1-yellow .pro1-text h3 {
  margin-bottom: 20px;
}

main #web .grid .project1 .pro1-yellow .pro1-text strong {
  background: url(../images/red_border.png) no-repeat bottom;
  background-size: 100%;
}

main #web .grid .project1 .pro1-yellow .pro1-text p {
  margin: 20px 25px;
}

main #web .grid .project2 .pro2-box {
  margin: 300px 0;
  padding: 13%;
  background-color: #fee655;
}

main #web .grid .project2 .pro2-box .pro2-text h3 {
  margin-bottom: 20px;
}

main #web .grid .project2 .pro2-box .pro2-text strong {
  background: url(../images/red_border.png) no-repeat bottom;
  background-size: 100%;
}

main #web .grid .project2 .pro2-box .pro2-text p {
  margin: 20px 25px;
}

main #web .grid .project3 .pro3-box {
  padding: 13%;
  border: 1px solid #000;
  background-color: #fff;
}

main #web .grid .project3 .pro3-box .pro3-text h3 {
  margin-bottom: 20px;
}

main #web .grid .project3 .pro3-box .pro3-text strong {
  background: url(../images/red_border.png) no-repeat bottom;
  background-size: 100%;
}

main #web .grid .project3 .pro3-box .pro3-text p {
  margin: 20px 25px;
}

main #web .grid .project4 {
  position: relative;
  margin: 300px 0;
}

main #web .grid .project4 .pro4-red {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ed2024;
}

main #web .grid .project4 .pro4-yellow {
  margin: 10px;
  padding: 13%;
  background-color: #fee655;
}

main #skills {
  background-color: #ffcd5c;
}

main #video {
  text-align: center;
}

footer {
  height: 65px;
  text-align: center;
  background-color: #ed2024;
}

footer .grid a img {
  width: 100px;
}
/*# sourceMappingURL=index.css.map */