@font-face {
  font-family: 'Nanum Pen';
  font-style: normal;
  src: url("../fonts/NanumPenScript-Regular.eot");
  src: local("NanumPenScript-Regular"), url("../fonts/NanumPenScript-Regular.otf") format("embedded-opentype"), url("../fonts/NanumPenScript-Regular.woff") format("woff"), url("../fonts/NanumPenScript-Regular.ttf") format("truetype"), url("../fonts/NanumPenScript-Regular.svg") format("svg");
}

@font-face {
  font-family: 'DK Leftover Crayon';
  font-style: normal;
  src: url("../fonts/DK-Leftover-Crayon.eot");
  src: local("DK-Leftover-Crayon"), url("../fonts/DK Leftover Crayon.otf") format("embedded-opentype"), url("../fonts/DK-Leftover-Crayon.woff") format("woff"), url("../fonts/DK-Leftover-Crayon.ttf") format("truetype"), url("../fonts/DK-Leftover-Crayon.svg") format("svg");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Noto Sans KR";
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #333333;
}

h2 {
  font-size: 0;
}

h3 {
  font-size: 2em;
  color: #333333;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
}

p {
  font-size: 0.95em;
  font-weight: 500;
}

strong {
  font-size: 1.05em;
}

span {
  font-size: 1.375em;
}

button {
  border: none;
  background-color: transparent;
}

header,
nav,
main,
article,
aside,
section,
footer {
  display: block;
}

@media only screen and (min-width: 1200px) {
  #container {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
  }
}

.grid {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

#wrapper header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 100;
  font-family: "DK Leftover Crayon";
  font-weight: bolder;
  background-color: #feea98;
}

#wrapper header .grid .logo {
  float: left;
}

#wrapper header .grid .logo a img {
  width: 90%;
}

#wrapper header .grid .mobileMenu {
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 100;
  cursor: pointer;
}

#wrapper header .grid .mobileMenu.open span:first-child {
  -webkit-transform: rotate(45deg) translate(15px, 12px);
          transform: rotate(45deg) translate(15px, 12px);
}

#wrapper header .grid .mobileMenu.open span:nth-child(2) {
  opacity: 0;
}

#wrapper header .grid .mobileMenu.open span:last-child {
  -webkit-transform: rotate(-45deg) translate(15px, -12px);
          transform: rotate(-45deg) translate(15px, -12px);
}

@media screen and (min-width: 1024px) {
  #wrapper header .grid .mobileMenu {
    display: none;
  }
}

#wrapper header .grid .mobileMenu span {
  display: block;
  width: 45px;
  height: 10px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 5px;
  background-color: #e6363b;
  background: url(../images/hamburger_border.png);
  background-size: cover;
}

#wrapper header .grid .mobileMenu span:nth-child(2) {
  margin: 10px 0 10px;
}

#wrapper header .grid nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

#wrapper header .grid nav #gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #feea98;
}

@media screen and (min-width: 1024px) {
  #wrapper header .grid nav #gnb {
    left: 0;
    height: 65px;
    margin-top: 7px;
    margin-left: 45%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    background-color: transparent;
  }
}

#wrapper header .grid nav #gnb.show {
  left: 0;
  opacity: 1;
}

#wrapper header .grid nav #gnb .menuClose {
  position: absolute;
  top: 0;
  right: 0;
}

#wrapper header .grid nav #gnb li {
  background: url(../images/white_wave.png) no-repeat 100% 100%;
  background-size: 0;
}

#wrapper header .grid nav #gnb li:hover {
  background-size: 110%;
}

#wrapper header .grid nav #gnb li:last-child {
  background: url(none);
}

@media screen and (min-width: 1024px) {
  #wrapper header .grid nav #gnb li {
    margin-left: 3%;
  }
}

#wrapper header .grid nav #gnb li:last-child {
  margin-top: 1%;
}

#wrapper header .grid nav #gnb li a {
  font-size: 4rem;
  color: #e6363b;
}

@media screen and (min-width: 1024px) {
  #wrapper header .grid nav #gnb li a {
    font-size: 2.5rem;
  }
}

#wrapper header .grid nav #gnb li a img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #wrapper header .grid nav #gnb li a img {
    width: 80%;
  }
}

#wrapper .loader {
  display: none;
}

#wrapper .loader .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ffd469;
}

#wrapper .loader .grid .logoBox {
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrapper .loader .grid .logoBox h1 img {
  width: 100%;
}

#wrapper .loader .grid .rotate {
  position: absolute;
  top: 35vh;
  left: 45%;
  font-size: 3.5rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: rotate;
          animation-name: rotate;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#wrapper .loader .grid .rotate .circleText img {
  width: 100%;
}

#wrapper main #about {
  height: 100vh;
  margin-top: 7vh;
  font-family: "DK Leftover Crayon";
  font-weight: bolder;
  color: #e6363b;
}

@media screen and (min-width: 1024px) {
  #wrapper main #about {
    margin-top: 20vh;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#wrapper main #about .grid .about-flex .polaroidBox {
  margin: 10% 8% 5%;
  -webkit-transform: scale(0.85, 0.85) rotate(5deg);
          transform: scale(0.85, 0.85) rotate(5deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

@media screen and (min-width: 768px) {
  #wrapper main #about .grid .about-flex .polaroidBox {
    margin: 10% 20% 5%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .polaroidBox {
    margin: 0;
    width: 40%;
  }
}

#wrapper main #about .grid .about-flex .polaroidBox::before {
  position: absolute;
  content: '';
  z-index: -1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#wrapper main #about .grid .about-flex .polaroidBox:hover {
  -webkit-transform: scale(1, 1) rotate(0deg);
          transform: scale(1, 1) rotate(0deg);
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid {
  position: relative;
  padding: 1rem;
  background: #fff;
  width: 100%;
  height: 100%;
  max-width: 450px;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(51, 51, 51, 0.2);
          box-shadow: 0 0.25rem 1rem rgba(51, 51, 51, 0.2);
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid .avatar img {
  width: 100%;
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox {
  position: relative;
  margin-left: 5%;
  cursor: pointer;
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox img {
  width: 25%;
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox strong {
  background: url(../images/wave.png) no-repeat right bottom;
  background-size: 35%;
  color: #e6363b;
  font-size: 3.2rem;
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox .txtEmoji {
  position: absolute;
  right: 5%;
  top: 0;
}

@media screen and (min-width: 768px) {
  #wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox .txtEmoji {
    right: 20%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox .txtEmoji {
    right: 11%;
  }
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox .txtEmoji img {
  width: 100%;
}

#wrapper main #about .grid .about-flex .polaroidBox .polaroid .textBox .txtEmoji.blur {
  display: none;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#wrapper main #about .grid .about-flex .emoji img {
  width: 80%;
}

#wrapper main #about .grid .about-flex .emoji .tape {
  position: absolute;
  top: 4%;
  left: 48%;
}

@media screen and (min-width: 768px) {
  #wrapper main #about .grid .about-flex .emoji .tape {
    top: 6%;
    left: 48%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .emoji .tape {
    top: 25px;
    left: 200px;
  }
}

@media screen and (min-width: 768px) {
  #wrapper main #about .grid .about-flex .emoji .tape img {
    width: 85%;
  }
}

#wrapper main #about .grid .about-flex .emoji .yellowStar {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: -1;
  -webkit-animation: star 1s infinite linear alternate;
          animation: star 1s infinite linear alternate;
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .emoji .yellowStar {
    top: 80px;
    right: 170px;
  }
}

@-webkit-keyframes star {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes star {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#wrapper main #about .grid .about-flex .emoji .redStar {
  position: absolute;
  top: 25%;
  left: 4%;
  z-index: -1;
  -webkit-animation: star 0.8s infinite linear alternate;
          animation: star 0.8s infinite linear alternate;
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .emoji .redStar {
    top: 150px;
    left: 0;
  }
}

@keyframes star {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#wrapper main #about .grid .about-flex .emoji .purpleSpring {
  position: absolute;
  top: 30%;
  right: 0;
  -webkit-animation: spring 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
          animation: spring 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
}

@-webkit-keyframes spring {
  from {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
  }
  to {
    -webkit-transform: translateY(-50%) rotateY(-360deg);
            transform: translateY(-50%) rotateY(-360deg);
  }
}

@keyframes spring {
  from {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
  }
  to {
    -webkit-transform: translateY(-50%) rotateY(-360deg);
            transform: translateY(-50%) rotateY(-360deg);
  }
}

#wrapper main #about .grid .about-flex .emoji .yellowWave {
  position: absolute;
  top: 55%;
  left: 5%;
  z-index: -1;
  -webkit-animation: wave 3s infinite linear alternate;
          animation: wave 3s infinite linear alternate;
}

@media screen and (min-width: 768px) {
  #wrapper main #about .grid .about-flex .emoji .yellowWave {
    top: 58%;
    left: 13%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .emoji .yellowWave {
    top: 500px;
    left: 0;
  }
  #wrapper main #about .grid .about-flex .emoji .yellowWave img {
    width: 65%;
  }
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes wave {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

#wrapper main #about .grid .about-flex .emoji .purpleArrow {
  position: absolute;
  top: 58.5%;
  right: 5%;
}

@media screen and (min-width: 768px) {
  #wrapper main #about .grid .about-flex .emoji .purpleArrow {
    top: 62%;
    right: 22%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .emoji .purpleArrow {
    top: 515px;
    left: 200px;
  }
  #wrapper main #about .grid .about-flex .emoji .purpleArrow img {
    width: 35%;
  }
}

#wrapper main #about .grid .about-flex .profile {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .profile {
    width: 55%;
    height: 604px;
    padding: 110px 0;
    padding-left: 70px;
    background: url(../images/border.png) no-repeat left;
  }
}

#wrapper main #about .grid .about-flex .profile ul {
  display: inline-block;
  font-size: 2.3rem;
  line-height: 3.5rem;
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .profile ul {
    font-size: 2.7rem;
    line-height: 4.8rem;
  }
}

#wrapper main #about .grid .about-flex .profile ul:last-child {
  margin-left: 10%;
  font-size: 2.2rem;
  font-family: "Nanum Pen";
  font-weight: normal;
  color: #333333;
}

@media screen and (min-width: 768px) {
  #wrapper main #about .grid .about-flex .profile ul:last-child {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .profile ul:last-child {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #about .grid .about-flex .profile ul:last-child {
    font-size: 2.2rem;
  }
}

#wrapper main #about .grid .about-flex .profile ul li {
  text-align: left;
}

#wrapper main .square .squareImg1 {
  position: absolute;
  overflow: hidden;
  top: -5%;
  left: -5%;
  width: 350px;
  height: 400px;
  z-index: -10;
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg1 {
    top: -120px;
    left: -120px;
    width: 750px;
    height: 750px;
  }
}

#wrapper main .square .squareImg1 img {
  width: 300px;
  -webkit-animation: circle 200s linear infinite;
          animation: circle 200s linear infinite;
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg1 img {
    width: 700px;
  }
}

#wrapper main .square .squareImg2 {
  position: absolute;
  overflow: hidden;
  top: 45%;
  right: 0;
  width: 300px;
  height: 550px;
  padding: 5%;
  z-index: -10;
}

@media screen and (min-width: 768px) {
  #wrapper main .square .squareImg2 {
    height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg2 {
    top: 600px;
    width: 600px;
    height: 850px;
  }
}

#wrapper main .square .squareImg2 img {
  width: 500px;
  height: 500px;
  -webkit-animation: circle 190s linear infinite;
          animation: circle 190s linear infinite;
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg2 img {
    width: 800px;
    height: 700px;
  }
}

#wrapper main .square .squareImg3 {
  position: absolute;
  overflow: hidden;
  top: 105%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-left: 5%;
  z-index: -10;
}

@media screen and (min-width: 768px) {
  #wrapper main .square .squareImg3 {
    left: 30%;
    width: 70%;
    height: 60%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg3 {
    top: 1300px;
    left: 35%;
    width: 680px;
    height: 730px;
    padding-top: 130px;
  }
}

#wrapper main .square .squareImg3 img {
  width: 100%;
  -webkit-animation: circle 200s linear infinite;
          animation: circle 200s linear infinite;
  animation-direction: reverse;
}

@media screen and (min-width: 768px) {
  #wrapper main .square .squareImg3 img {
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg3 img {
    width: 480px;
  }
}

#wrapper main .square .squareImg4 {
  position: absolute;
  overflow: hidden;
  top: 170%;
  left: -50%;
  width: 600px;
  height: 800px;
  padding-top: 15%;
  z-index: -10;
}

@media screen and (min-width: 768px) {
  #wrapper main .square .squareImg4 {
    left: -30%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg4 {
    left: -350px;
    width: 1000px;
    height: 1000px;
    padding-top: 150px;
    padding-left: 50px;
  }
}

#wrapper main .square .squareImg4 img {
  width: 500px;
  -webkit-animation: circle 195s linear infinite;
          animation: circle 195s linear infinite;
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg4 img {
    width: 650px;
  }
}

#wrapper main .square .squareImg5 {
  position: absolute;
  overflow: hidden;
  top: 250%;
  right: 0;
  width: 300px;
  height: 600px;
  padding: 20%;
  z-index: -10;
}

@media screen and (min-width: 768px) {
  #wrapper main .square .squareImg5 {
    top: 230%;
    width: 400px;
    height: 800px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg5 {
    top: 2200px;
    width: 700px;
    height: 800px;
    padding-top: 50px;
  }
}

#wrapper main .square .squareImg5 img {
  width: 300px;
  -webkit-animation: circle 190s linear infinite;
          animation: circle 190s linear infinite;
  animation-direction: reverse;
}

@media screen and (min-width: 768px) {
  #wrapper main .square .squareImg5 img {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg5 img {
    width: 500px;
  }
}

#wrapper main .square .squareImg6 {
  position: absolute;
  overflow: hidden;
  top: 340%;
  left: 0;
  width: 100%;
  height: 600px;
  padding-top: 20%;
  padding-left: 5%;
  z-index: -10;
}

@media screen and (min-width: 768px) {
  #wrapper main .square .squareImg6 {
    top: 300%;
    height: 800px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg6 {
    top: 3000px;
    left: 30%;
    width: 710px;
    height: 750px;
    padding-top: 150px;
  }
}

#wrapper main .square .squareImg6 img {
  width: 100%;
  -webkit-animation: circle 200s linear infinite;
          animation: circle 200s linear infinite;
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg6 img {
    width: 600px;
  }
}

#wrapper main .square .squareImg7 {
  position: absolute;
  overflow: hidden;
  top: 400%;
  left: -15%;
  width: 100%;
  height: 60%;
  padding-top: 10%;
  z-index: -10;
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg7 {
    top: 3600px;
    left: -500px;
    width: 1200px;
    height: 1200px;
    padding-top: 150px;
  }
}

#wrapper main .square .squareImg7 img {
  width: 95%;
  -webkit-animation: circle 185s linear infinite;
          animation: circle 185s linear infinite;
  animation-direction: reverse;
}

@media screen and (min-width: 1024px) {
  #wrapper main .square .squareImg7 img {
    width: 1000px;
  }
}

#wrapper main #modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
}

#wrapper main #modal.on {
  display: block;
}

#wrapper main #modal .modal-up {
  margin: 0 auto;
  width: 95%;
  height: 40%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../images/memo.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #wrapper main #modal .modal-up {
    width: 70%;
    max-width: 700px;
    max-height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #modal .modal-up {
    height: 50%;
  }
}

#wrapper main #modal .modal-up .modal-text {
  text-align: center;
  margin: 8%;
}

@media screen and (min-width: 1024px) {
  #wrapper main #modal .modal-up .modal-text {
    margin: 10%;
  }
}

#wrapper main #modal .modal-up .modal-text h3 {
  font-family: "Nanum Pen";
  font-size: 2.1rem;
}

@media screen and (min-width: 1024px) {
  #wrapper main #modal .modal-up .modal-text h3 {
    font-size: 2.5rem;
  }
}

#wrapper main #modal .modal-up .modal-text p {
  margin-top: 5%;
  text-align: justify;
  font-family: "Nanum Pen";
  font-size: 1.7rem;
}

@media screen and (min-width: 1024px) {
  #wrapper main #modal .modal-up .modal-text p {
    font-size: 2rem;
  }
}

#wrapper main #modal .modal-up .closeBtn {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

#wrapper main #modal .modal-up .closeBtn img {
  width: 50px;
}

#wrapper main #web .grid .project1 {
  width: 100%;
  height: 80vh;
  margin-top: 20vh;
}

#wrapper main #web .grid .project1 .pro1-box {
  position: relative;
  max-width: 650px;
  max-height: 450px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project1 .pro1-box {
    height: 55%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project1 .pro1-box {
    margin-left: 0;
  }
}

#wrapper main #web .grid .project1 .pro1-box .purpleStar {
  display: none;
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project1 .pro1-box .purpleStar {
    display: block;
    position: absolute;
    top: -70px;
    left: 680px;
    z-index: -10;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project1 .pro1-box .purpleStar img {
    width: 70px;
  }
}

#wrapper main #web .grid .project1 .pro1-box .box-img {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

#wrapper main #web .grid .project1 .pro1-box .box-img img {
  width: 100%;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img {
  position: absolute;
  top: 1.7%;
  left: 8%;
  overflow: hidden;
  height: 86.5%;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project1 .pro1-box .pro1-img {
    height: 87.3%;
    min-height: 393px;
  }
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  width: 98.5%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img:hover::before {
  opacity: 0.7;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img img {
  width: 98.5%;
  max-width: 640px;
  -webkit-animation: imgAnimation 10s linear 0.5s infinite alternate;
          animation: imgAnimation 10s linear 0.5s infinite alternate;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text {
  position: absolute;
  top: 50%;
  left: 49.5%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 8%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text h3 {
  margin: 5% 0;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text h3 {
    font-size: 2.4rem;
  }
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text strong {
  background: url(../images/strong_border.png) no-repeat bottom;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text strong {
    font-size: 1.2rem;
  }
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text p {
  margin: 7% 10%;
  font-size: 1rem;
  text-align: justify;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text .view {
  padding: 7%;
  margin-right: 4%;
  background: url(../images/red_btn.png) no-repeat center;
  background-size: 100%;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text .view:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text .view a {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text .process {
  padding: 9%;
  background: url(../images/yellow_btn.png) no-repeat center;
  background-size: 100%;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text .process:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img .pro1-text .process a {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

#wrapper main #web .grid .project1 .pro1-box .pro1-img:hover .pro1-text {
  opacity: 1;
}

@-webkit-keyframes imgAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-68%);
            transform: translateY(-68%);
  }
}

@keyframes imgAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-68%);
            transform: translateY(-68%);
  }
}

#wrapper main #web .grid .project1.scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

#wrapper main #web .grid .project1.scroll.scrolled {
  opacity: 1;
}

#wrapper main #web .grid .project1.scroll.scrolled.slideLeft {
  -webkit-animation: slide-in-left 1s ease-in-out both;
          animation: slide-in-left 1s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

#wrapper main #web .grid .pro1-details {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  background-color: #f9f9f9;
  overflow: auto;
}

#wrapper main #web .grid .pro1-details .details-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .pro1-details .details-btn {
    top: 45px;
    right: 45px;
  }
}

#wrapper main #web .grid .pro1-details .details-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333333;
  -webkit-transform: rotate(45deg) translate(-3px, 5px);
          transform: rotate(45deg) translate(-3px, 5px);
}

#wrapper main #web .grid .pro1-details .details-btn span:last-child {
  -webkit-transform: rotate(-45deg) translate(-3px, -5px);
          transform: rotate(-45deg) translate(-3px, -5px);
}

#wrapper main #web .grid .pro1-details .details-btn:hover span {
  background-color: gray;
}

#wrapper main #web .grid .pro1-details .details-up {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#wrapper main #web .grid .pro1-details .details-up .grid .title {
  text-align: center;
}

#wrapper main #web .grid .pro1-details .details-up .grid .title img {
  width: 90%;
  max-width: 500px;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt {
  margin: 5% 0;
  border-radius: 8px;
  padding: 5%;
  background-color: #fff;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt h2 {
  margin-bottom: 5%;
  font-size: 1.35rem;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt p {
  margin-bottom: 5%;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt .font img {
  width: 60%;
  max-width: 350px;
  margin-bottom: 5%;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt .color span {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 5%;
  border-radius: 100px;
  background-color: #f9f9f9;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt .color span:nth-child(3) {
  background-color: #a6908f;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt .color span:nth-child(4) {
  background-color: #a7a7a7;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt .color p {
  margin-top: 5%;
}

#wrapper main #web .grid .pro1-details .details-up .grid .details-txt .img-box {
  display: none;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .pro1-details .details-up .grid .details-txt .img-box {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .pro1-details .details-up .grid .details-txt .img-box .img-pc {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .pro1-details .details-up .grid .details-txt .img-box .img-pc img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .pro1-details .details-up .grid .details-txt .img-box .img-mobile {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .pro1-details .details-up .grid .details-txt .img-box .img-mobile img {
    width: 100%;
  }
}

#wrapper main #web .grid .project2 {
  width: 100%;
  height: 80vh;
}

#wrapper main #web .grid .project2 .pro2-box {
  position: relative;
  width: 100%;
  height: 45%;
  max-width: 650px;
  max-height: 450px;
  margin: 0 auto;
  -webkit-box-shadow: -7px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: -7px 5px 7px rgba(0, 0, 0, 0.25);
  background-color: #ffe554;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project2 .pro2-box {
    height: 55%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project2 .pro2-box {
    margin-right: 0;
  }
}

#wrapper main #web .grid .project2 .pro2-box .purpleWave {
  display: none;
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project2 .pro2-box .purpleWave {
    display: block;
    position: absolute;
    top: -70px;
    left: -70px;
    z-index: -10;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project2 .pro2-box .purpleWave img {
    width: 80px;
  }
}

#wrapper main #web .grid .project2 .pro2-box .purpleSpring2 {
  display: none;
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project2 .pro2-box .purpleSpring2 {
    display: block;
    position: absolute;
    top: 460px;
    right: 260px;
    z-index: -10;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project2 .pro2-box .purpleSpring2 img {
    width: 120px;
  }
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img {
  position: absolute;
  top: 2.1%;
  left: 1.5%;
  overflow: hidden;
  height: 96%;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  width: 98.6%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img:hover::before {
  opacity: 0.7;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img img {
  width: 98.6%;
  max-width: 640px;
  -webkit-animation: imgAnimation 10s linear 0.5s infinite alternate;
          animation: imgAnimation 10s linear 0.5s infinite alternate;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text h3 {
  margin-bottom: 7%;
  font-size: 2.3rem;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text h3 {
    font-size: 2.7rem;
  }
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text strong {
  background: url(../images/strong_border.png) no-repeat bottom;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text strong {
    font-size: 1.2rem;
  }
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text p {
  margin: 7% 12%;
  font-size: 1rem;
  text-align: justify;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text .view {
  padding: 7%;
  background: url(../images/red_btn.png) no-repeat center;
  background-size: 100%;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text .view:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img .pro2-text .view a {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

#wrapper main #web .grid .project2 .pro2-box .pro2-img:hover .pro2-text {
  opacity: 1;
}

#wrapper main #web .grid .project2.scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

#wrapper main #web .grid .project2.scroll.scrolled {
  opacity: 1;
}

#wrapper main #web .grid .project2.scroll.scrolled.slideRight {
  -webkit-animation: slide-in-right 0.7s ease-in-out both;
          animation: slide-in-right 0.7s ease-in-out both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

#wrapper main #web .grid .project3 {
  width: 100%;
  height: 80vh;
}

#wrapper main #web .grid .project3 .pro3-box {
  position: relative;
  width: 100%;
  height: 45%;
  max-width: 650px;
  max-height: 450px;
  margin: 0 auto;
  -webkit-box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project3 .pro3-box {
    height: 55%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project3 .pro3-box {
    margin-left: 0;
  }
}

#wrapper main #web .grid .project3 .pro3-box .purpleTiara {
  display: none;
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project3 .pro3-box .purpleTiara {
    display: block;
    position: absolute;
    top: -65px;
    left: 285px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project3 .pro3-box .purpleTiara img {
    width: 80px;
  }
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img {
  position: absolute;
  top: 2.1%;
  left: 1.5%;
  overflow: hidden;
  height: 96%;
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project3 .pro3-box .pro3-img {
    top: 8px;
  }
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img:hover::before {
  opacity: 0.7;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img img {
  width: 98.6%;
  max-width: 640px;
  -webkit-animation: imgAnimation 10s linear 0.5s infinite alternate;
          animation: imgAnimation 10s linear 0.5s infinite alternate;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text h3 {
  margin-bottom: 7%;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text h3 {
    font-size: 2.4rem;
  }
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text strong {
  background: url(../images/strong_border.png) no-repeat bottom;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text strong {
    font-size: 1.2rem;
  }
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text p {
  margin: 7% 12%;
  font-size: 1rem;
  text-align: justify;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text .view {
  padding: 7%;
  margin-right: 4%;
  background: url(../images/red_btn.png) no-repeat center;
  background-size: 100%;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text .view:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text .view a {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text .process {
  padding: 9.5%;
  background: url(../images/yellow_btn.png) no-repeat center;
  background-size: 100%;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text .process:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img .pro3-text .process a {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

#wrapper main #web .grid .project3 .pro3-box .pro3-img:hover .pro3-text {
  opacity: 1;
}

#wrapper main #web .grid .project3.scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

#wrapper main #web .grid .project3.scroll.scrolled {
  opacity: 1;
}

#wrapper main #web .grid .project3.scroll.scrolled.slideLeft {
  -webkit-animation: slide-in-left 0.7s ease-in-out both;
          animation: slide-in-left 0.7s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

#wrapper main #web .grid .project4 {
  width: 100%;
  height: 80vh;
}

#wrapper main #web .grid .project4 .pro4-box {
  position: relative;
  width: 100%;
  height: 45%;
  max-width: 650px;
  max-height: 450px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project4 .pro4-box {
    height: 55%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project4 .pro4-box {
    margin-right: 0;
  }
}

#wrapper main #web .grid .project4 .pro4-box .flowers {
  display: none;
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project4 .pro4-box .flowers {
    display: block;
    position: absolute;
    top: -70px;
    left: -90px;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #web .grid .project4 .pro4-box .flowers img {
    width: 100px;
  }
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red {
  width: 100%;
  height: 100%;
  padding: 1.5%;
  z-index: -1;
  -webkit-box-shadow: -7px 5px 7px rgba(0, 0, 0, 0.3);
          box-shadow: -7px 5px 7px rgba(0, 0, 0, 0.3);
  background-color: #e6363b;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow {
  width: 100%;
  height: 100%;
  background-color: #ffe554;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img {
  position: absolute;
  top: 3.5%;
  left: 2.6%;
  overflow: hidden;
  height: 93%;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  width: 97.2%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img:hover::before {
  opacity: 0.7;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img img {
  width: 97.2%;
  max-width: 640px;
  -webkit-animation: imgAnimation 10s linear 0.5s infinite alternate;
          animation: imgAnimation 10s linear 0.5s infinite alternate;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text {
  position: absolute;
  top: 50%;
  left: 49.5%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text h3 {
  margin-bottom: 7%;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text h3 {
    font-size: 2.4rem;
  }
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text strong {
  background: url(../images/strong_border.png) no-repeat bottom;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  #wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text strong {
    font-size: 1.2rem;
  }
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text p {
  margin: 7% 12%;
  font-size: 1rem;
  text-align: justify;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text .view {
  padding: 7%;
  background: url(../images/red_btn.png) no-repeat center;
  background-size: 100%;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text .view:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img .pro4-text .view a {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

#wrapper main #web .grid .project4 .pro4-box .pro4-red .pro4-yellow .pro4-img:hover .pro4-text {
  opacity: 1;
}

#wrapper main #web .grid .project4.scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

#wrapper main #web .grid .project4.scroll.scrolled {
  opacity: 1;
}

#wrapper main #web .grid .project4.scroll.scrolled.slideRight {
  -webkit-animation: slide-in-right 0.7s ease-in-out both;
          animation: slide-in-right 0.7s ease-in-out both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

#wrapper main #skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #ffd469;
}

#wrapper main #skills .grid .skill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#wrapper main #skills .grid .skill-box ul {
  width: 50%;
  margin: 10% 0;
}

@media screen and (min-width: 1024px) {
  #wrapper main #skills .grid .skill-box ul {
    margin: 50px 0;
  }
}

#wrapper main #skills .grid .skill-box ul:last-child {
  margin-left: 5%;
  line-height: 2.4rem;
}

@media screen and (min-width: 1024px) {
  #wrapper main #skills .grid .skill-box ul:last-child {
    line-height: 3.2rem;
  }
}

#wrapper main #skills .grid .skill-box ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 12% 0;
}

#wrapper main #skills .grid .skill-box ul li:hover .skill-logo {
  -webkit-animation: skillLogo 0.6s linear both;
          animation: skillLogo 0.6s linear both;
}

@media screen and (min-width: 768px) {
  #wrapper main #skills .grid .skill-box ul li {
    padding: 6% 0;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #skills .grid .skill-box ul li {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 14px 0;
  }
}

#wrapper main #skills .grid .skill-box ul li .skill-logo {
  width: 40%;
}

@media screen and (min-width: 768px) {
  #wrapper main #skills .grid .skill-box ul li .skill-logo {
    width: 32%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #skills .grid .skill-box ul li .skill-logo {
    width: 28%;
  }
}

#wrapper main #skills .grid .skill-box ul li .skill-logo img {
  width: 100%;
}

#wrapper main #skills .grid .skill-box ul li .gauge-box {
  width: 57%;
  margin-top: 2%;
  line-height: 1rem;
}

@media screen and (min-width: 768px) {
  #wrapper main #skills .grid .skill-box ul li .gauge-box {
    width: 58%;
    margin-top: 3%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #skills .grid .skill-box ul li .gauge-box {
    width: 45%;
  }
}

#wrapper main #skills .grid .skill-box ul li .gauge-box .skill-text {
  position: relative;
}

#wrapper main #skills .grid .skill-box ul li .gauge-box .skill-text h3 {
  margin-bottom: 7%;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  #wrapper main #skills .grid .skill-box ul li .gauge-box .skill-text h3 {
    font-size: 1.5rem;
  }
}

#wrapper main #skills .grid .skill-box ul li .gauge-box .gauge-border {
  height: 30%;
  max-height: 40px;
  margin-top: 7%;
  border: 5px solid #fff;
}

#wrapper main #skills .grid .skill-box ul li .gauge-box .gauge-border .skill-bar {
  width: 0;
  height: 100%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #e6363b;
}

#wrapper main #skills .grid .skill-box ul li .skill-over-txt {
  position: absolute;
  top: 16%;
  right: 2%;
  width: 57%;
}

@media screen and (min-width: 768px) {
  #wrapper main #skills .grid .skill-box ul li .skill-over-txt {
    top: 15%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #skills .grid .skill-box ul li .skill-over-txt {
    top: 10%;
  }
}

#wrapper main #skills .grid .skill-box ul li .skill-over-txt p {
  text-align: justify;
  line-height: 1.3rem;
  font-weight: bold;
  color: #333333;
}

@media screen and (min-width: 768px) {
  #wrapper main #skills .grid .skill-box ul li .skill-over-txt p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #skills .grid .skill-box ul li .skill-over-txt p {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
}

@-webkit-keyframes skillLogo {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate3d(-1, 1, 0, 180deg);
            transform: scale(1.3) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}

@keyframes skillLogo {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate3d(-1, 1, 0, 180deg);
            transform: scale(1.3) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}

#wrapper main #video {
  position: relative;
  text-align: center;
}

#wrapper main #video .video-square .squareImg8 {
  position: absolute;
  overflow: hidden;
  top: -70%;
  left: -25%;
  width: 100%;
  height: 60%;
  z-index: -10;
}

@media screen and (min-width: 768px) {
  #wrapper main #video .video-square .squareImg8 {
    left: -40%;
  }
}

#wrapper main #video .video-square .squareImg8 img {
  width: 90%;
  max-width: 500px;
  -webkit-animation: circle 180s linear infinite;
          animation: circle 180s linear infinite;
  animation-direction: reverse;
}

#wrapper main #video .video-square .squareImg9 {
  position: absolute;
  overflow: hidden;
  bottom: 15%;
  right: 0;
  width: 100%;
  height: 70%;
  max-height: 1000px;
  padding-top: 18%;
  z-index: -10;
}

@media screen and (min-width: 768px) {
  #wrapper main #video .video-square .squareImg9 {
    width: 70%;
    bottom: 15%;
    padding-top: 10%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper main #video .video-square .squareImg9 {
    padding-top: 5%;
  }
}

#wrapper main #video .video-square .squareImg9 img {
  width: 100%;
  max-width: 550px;
  -webkit-animation: circle 200s linear infinite;
          animation: circle 200s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#wrapper main #video .grid .video-box {
  width: 100%;
  height: 80vh;
  margin-top: 40vh;
}

#wrapper main #video .grid .video-box .video-red {
  position: relative;
  width: 100%;
  height: 45%;
  max-width: 650px;
  max-height: 450px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 2px 12px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 12px 7px rgba(0, 0, 0, 0.2);
  background-color: #e6363b;
}

@media screen and (min-width: 768px) {
  #wrapper main #video .grid .video-box .video-red {
    height: 55%;
  }
}

#wrapper main #video .grid .video-box .video-red .video-img {
  position: absolute;
  top: 2.1%;
  left: 1.5%;
  width: 97%;
  height: 96%;
}

#wrapper main #video .grid .video-box .video-red .video-img::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}

#wrapper main #video .grid .video-box .video-red .video-img:hover::before {
  opacity: 0.8;
}

#wrapper main #video .grid .video-box .video-red .video-img img {
  width: 100%;
  height: 100%;
  max-width: 640px;
}

#wrapper main #video .grid .video-box .video-red .video-img .video-text {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#wrapper main #video .grid .video-box .video-red .video-img .video-text h3 {
  margin: 10px 0 30px;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  #wrapper main #video .grid .video-box .video-red .video-img .video-text h3 {
    font-size: 2.5rem;
  }
}

#wrapper main #video .grid .video-box .video-red .video-img .video-text p {
  margin: 7% 10% 0;
  font-size: 1rem;
  text-align: justify;
}

#wrapper main #video .grid .video-box .video-red .video-img .video-text .view {
  position: relative;
  margin-top: 30px;
  padding: 13%;
  background: url(../images/red_btn.png) no-repeat center;
  background-size: 100%;
}

#wrapper main #video .grid .video-box .video-red .video-img .video-text .view a {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

#wrapper main #video .grid .video-box .video-red .video-img .video-text .view svg {
  position: absolute;
  width: 500%;
  height: 500%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

#wrapper main #video .grid .video-box .video-red .video-img:hover .video-text {
  opacity: 1;
}

#wrapper footer {
  width: 100%;
  text-align: center;
  background-color: #e6363b;
}

#wrapper footer .grid a img {
  width: 25%;
  max-width: 120px;
}
/*# sourceMappingURL=index.css.map */