$font-main: 'Nanum Pen';
$font-crayon: 'DK Leftover Crayon';
$font-sub: 'Noto Sans KR';

$red: #ed2024;
$yellow: #ffe554;
$purple: #ad62a6;
$white: #fff;
$black: #000;
$square: rgba(255, 229, 84, 0.3);

$menu-color: #feea98;
$background-color: #ffcd5c;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;