$font-main: 'Nanum Pen';
$font-crayon: 'DK Cool Crayon';
$font-sub: 'Noto Sans KR';

$red: #ec1e24;
$purple: #ad62a6;
$white: #fff;
$black: #000;
// $process-button: #ffe576;
// $view-button: #ef5968;
$background-color: #ffcd5c;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;